/* CSS Document */
.navigation li
{
	margin: 0px 5px 0px 0px;
	clear: right;
	white-space: nowrap;
}
.navigation ul
{
	list-style: none;
	margin-left: 0px;
}
.searchbg
{
	margin-top: -1px;
}
.content
{
	margin: 0px 10px;
}
.category1_midbg
{
	width: 181px;
	padding: 6px 0px 10px 0px;
}
.content_readmore
{
	margin-right: 8px;
}
.commentsbg
{
	padding: 0px 15px;
}
.navigation
{
	width:400px;
}
